<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">

    <div class="row">
        <h2>Add New Rating</h2>
    </div>

    <div class="row">
        <form action="#" th:action="@{/rating/validate}" th:object="${rating}" method="post" class="form-horizontal" style="width: 100%">
            <!--
            TODO: Create a form to input the values of Rating, there are 2 buttons: Save data and Cancel to the list Rating
             -->
            <div class="form-group">
                <label for="moodysRating" class="col-sm-2 control-label">Moodys Rating</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{moodysRating}" name="moodysRating" id="moodysRating" class="col-4">
                    <p class="text-danger" th:if="${#fields.hasErrors('moodysRating')}" th:errors="*{moodysRating}"></p>
                </div>
            </div>
            <div class="form-group">
                <label for="sendPRating" class="col-sm-2 control-label">SendP Rating</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{sendPRating}" name="sendPRating" id="sendPRating" class="col-4">
                    <p class="text-danger" th:if="${#fields.hasErrors('sendPRating')}" th:errors="*{sendPRating}"></p>
                </div>
            </div>
            <div class="form-group">
                <label for="fitchRating" class="col-sm-2 control-label">Fitch Rating</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{fitchRating}" name="fitchRating" id="fitchRating" class="col-4">
                    <p class="text-danger" th:if="${#fields.hasErrors('fitchRating')}" th:errors="*{fitchRating}"></p>
                </div>
            </div>
            <div class="form-group">
                <label for="orderNumber" class="col-sm-2 control-label">Order Number</label>
                <div class="col-sm-10">
                    <input type="number" min="0" th:field="*{orderNumber}" name="orderNumber" id="orderNumber" class="col-4">
                    <p class="text-danger" th:if="${#fields.hasErrors('orderNumber')}" th:errors="*{orderNumber}"></p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <a class="btn btn-danger btn-sm" th:href="@{/rating/list}">Cancel</a>
                    <input class="btn btn-primary btn-sm" type="submit" value="Add Rating">
                </div>
            </div>
        </form>
    </div>

</div>
</body>
</html>